[user]
    name = David Marichal
[alias]
    d = difftool
    m = mergetool
    s = status
    l = log --graph --abbrev-commit --decorate --date=relative --all
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    keepBackup = false
    prompt = false
[push]
    default = simple
