[user]
  name = David Marichal
[alias]
  d = difftool
  fp = fetch -p
  l = log --graph --abbrev-commit --decorate --date=relative --all
  m = mergetool
  p = pull
  s = status
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[push]
  default = simple
